[submodule "Core"]
	path = Core
	url = https://git.oschina.net/jiuyong/Core.git
	branch = Core
[submodule "ToolBoxCore"]
	path = ToolBoxCore
	url = https://git.oschina.net/jiuyong/Core.git
	branch = ToolBoxCore
